<!--<%= form_with model: @todo, local: true do |form| %>
	<%= form.text_field :text %>
	<%= form.text_field :project_id %>
	<%= form.submit "Create" %>
<% end %>-->
<!--<%= form_for @todo, :url => { :action => "new" } do |f| %>
	<label>text</label>
	<%= f.text_field :text %>
	<label>project</label>
	<%= f.select :gender, options_for_select(gender_options), { prompt: 'Select gender' } %>
	<label>ethnicity</label>
	<%= f.select :ethnicity, options_for_select(ethnicity_options), { prompt: 'Select ethnicity' } %>
	<%= f.submit "Submit" %>
<% end %>-->
